.card {
  /* padding: 1rem;
  width: 35rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white; */
  padding: 1rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border-radius: 14px;
  background-color: white;
}
