.users {
  margin: 2rem auto;
  width: 100%;
  padding: 3rem;
}

.table {
  width: 100%;

  /*border: 1px solid black;*/

  width: 100%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border-radius: 14px;
  background-color: white;
}
.avtar {
  width: 200px;
}
img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.trdata {
  padding: 2rem;
}
table tr {
  margin: 2rem;
}

table thead {
  width: 100%;
  border: 1px solid black;
}
th,
tr td {
  border: 1px solid black;
}
