*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  height: 150px;
}

h3 {
  color: rgb(36, 33, 33);
  font-weight: 800;
  font-size: 20px;
  padding-left: 30px;
}
.display-content {
  cursor: pointer;
  width: 400px;
  position: absolute;
  top: 12rem;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li a {
  text-decoration: none;
  position: absolute;
  right: 15px;
  color: black;
}
.input-content input {
  width: 250px;
  height: 25px;
}
.input-content button {
  width: 3rem;
  height: 26px;
  font-size: 0.9rem;
  background-color: white;
  color: black;
  border: 1px solid black;
}
#span {
  color: red;
  font-size: 18px;
}
